<div>
    <h1>Cart Page</h1>
    <nav>
        <a href="/login" type="button" class="btn btn-secondary float-end">Log In/Sign Up</a>
    </nav>

    <body>
        <span>
            {{!-- {{#if product.length}} --}}
            <h2>Your Cart</h2>
            <div class='container row cart-products'>
                {{#each products }}
                <div class="card m-3 bg-secondary text-light" style="width: 18rem;">
                    <img src="{{product.img}}" class="card-img-top" alt="Book image sourced from online url">
                    <div class="card-body">
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <p class="card-text">by: {{product.author}}</p>
                        <p class="card-text">${{product.price}}</p>

                        <button  class="btn btn-danger deletebtn" data-id="{{product.id}}">Delete from Cart</button>
                    </div>
                </div>
                {{/each}}
            </div>
            <h2 id="sub-total">SubTotal:</h2>
        </span>
        <a href="/checkout" class="btn btn-primary btn-lg btn-block" role="button">Check Out Now</a>
    </body>
</div>

  <script src="/js/cart.js"></script>